# This is the default ansible 'hosts' file.
#
# It should live in /etc/ansible/hosts
#
#   - Comments begin with the '#' character
#   - Blank lines are ignored
#   - Groups of hosts are delimited by [header] elements
#   - You can enter hostnames or ip addresses
#   - A hostname/ip can be a member of multiple groups

#www[001:006].example.com
#
#db-[99:101]-node.example.com
#
#db01.intranet.mydomain.net
#db02.intranet.mydomain.net
#10.25.1.56
#10.25.1.57

[elk]
elk

[test]
centos

[ansible_server]
ubuntu

[monitoring]
SWNAGIOS

[apr-db-report]
apr-db-report

[test01]
elk
centos
SWNAGIOS
apr-db-report
